<script src="release-planner-app/js/create_user.js"></script>
<div ng-controller="create_user" style="width: 350px;">
	<h1>Create a new account</h1>
	<div style="font-family: Verdana; font-size: 13px;">
		<form jqx-validator jqx-settings="validatorSettings" id="testForm" 
			jqx-on-validation-success="createUser()" style="overflow: hidden; margin: 10px;">
			<table class="register-table">
				<tr>
					<td colspan="2">Username</td>
				</tr>
				<tr>
					<td>
						<jqx-input jqx-width="300" jqx-height="20" ng-model="user.username" id="usernameInput"/>
					</td>
				</tr>
				
				<tr>
					<td colspan="2">First Name</td>
				</tr>
				<tr>
					<td>
						<jqx-input jqx-width="300" jqx-height="20" ng-model="user.firstName" id="firstNameInput"/>
					</td>
				</tr>
				
				<tr>
					<td colspan="2">Last Name</td>
				</tr>
				<tr>
					<td>
						<jqx-input jqx-width="300" jqx-height="20" ng-model="user.lastName" id="lastNameInput"/>
					</td>
				</tr>
				
				<tr>
					<td colspan="2">Email</td>
				</tr>
				<tr>
					<td colspan="2">
						<jqx-input jqx-width="300" jqx-height="20" ng-model="user.email" id="emailInput"/>
					</td>
				</tr>
				<tr>
					<td colspan="2">Password</td>
				</tr>
				<tr>
					<td colspan="2">
						<jqx-password-input jqx-width="300" jqx-height="20"
						 type="password" ng-model="user.password" id="passwordInput"/>
					</td>
				</tr>
				<tr>
					<td colspan="2">Confirm your password</td>
				</tr>
				<tr>
					<td colspan="2">
						<jqx-password-input jqx-width="300" jqx-height="20"
						type="password" id="passwordConfirmInput"/>
					</td>
				</tr>
				<tr>
					<td colspan="2">Birthday</td>
					</tr>
				<tr>
					<td colspan="2">
						 <jqx-date-time-input jqx-width="300" jqx-height="20" id="birthInput"></jqx-date-time-input>
					</td>
				</tr>
				<tr>
					<td colspan="2">Profiles</td>
				</tr>
				<tr>
					<td colspan="2">
						<div ng-repeat="profile in profiles | orderBy:'name'">
							<input type="checkbox" ng-model="user.profiles[$index]" ng-true-value="{{profile}}" ng-false-value="{{undefined}}" /> {{profile.name}}
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div style="color: red; margin-bottom: 8px;" ng-show="errorMessage">{{errorMessage}}</div>
						<jqx-button ng-click="validate()">Create account</jqx-button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>



