<script src="release-planner-app/js/main.js"></script>
<link href="release-planner-app/css/release-planner-app.css" rel="stylesheet">
<div class="well" ng-controller="main-utilities">
   <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
            	<jqx-list-box id ="featureListBox" jqx-settings="settings" jqx-on-select="selectItem(event)" ></jqx-list-box>
                {{log}}
            </div>
            <div class="col-xs-6" >
		         <ul class="media-list">
                   <li class="media border" ng-repeat="release in releases">   
                     <div class="media-body" ng-click="showReleaseDetails(release)" ng-attr-id="{{'release_' + release.id}}">
                         <h4 class="media-heading">{{release.name}}&nbsp;<small>{{release.deadline}}</small></h4>
                          <p>{{release.id}}</p>
                         <p>{{release.description}}</p>
                         <p>count - {{release.count}}</p>
                     </div>
                     <div class="media-right media-middle">
                          <a ng-click="showRelease(release)"><i class="fa fa-cog fa-3x"></i> </a>
                     </div>
                   </li>
                 </ul>
               
                <div class="col-xs-7 col-xs-offset-5">
					<div class="text-right">
						<jqx-button id="addReleaseBtn" type="button" class="margin-bottom-5px my-button myHeight" ng-click="showRelease({})"><i class="fa fa-plus fa-lg"></i> Add release</jqx-button>
        		    </div>
 				</div>
		        <div class="col-xs-7 col-xs-offset-5">
					<div class="text-right">
						<jqx-button id="EditProjectBtn" type="button" class="margin-bottom-5px my-button myHeight" ng-click="showEditProjectConfig()"><i class="fa fa-pencil fa-lg"></i>Edit project config.</jqx-button>
        		    </div>
                </div>
		        
            </div>    
        </div>
    </div>
</div>
