<script src="release-planner-app/js/release.js"></script>
<link href="release-planner-app/css/release-planner-app.css" rel="stylesheet">
<!-- <div class="well" ng-controller="release-utilities" data-ng-init="init()"> -->
<div class="well" ng-controller="release-utilities"> 
	<div class="container-fluid">
<!--         	<a class="btn btn-default margin-bottom-5px my-button" href="#/release-planner-app/main"> -->
<!-- 				<i class="fa fa-home fa-lg"></i> &nbsp; Main. &nbsp; -->
<!-- 			</a> -->
        <div class="row">
           <h4>{{release.name}} - {{release.id}}</h4>
           <h5>Resources:</h5>
           <div class="col-xs-4">
	       	   	<jqx-list-box id ="resourcesListBox" jqx-settings="settingsResourcesListBox" jqx-on-select="selectItemResourcesListBox(event)" ></jqx-list-box>
	           	{{log}}
		   </div>
	       <div class="col-xs-4">
			   	<div class="btn-group-vertical">
				  <jqx-toggle-button id="addResouceToggleBtn" class="btn btn-default margin-bottom-5px my-button myHeight" ng-click="addSpecificResources($event)">Add</jqx-toggle-button>
				  <jqx-button id="addDefaultResouceBtn" type="button" class="btn btn-default margin-bottom-5px my-button myHeight" ng-click="addDefaultResources($event)">Add default</jqx-button>			  
				</div>
           </div>
           <div class="col-xs-4" ng-show="showResourcesAddListBox">
				<jqx-list-box id ="resourcesAddListBox" jqx-settings="settingsResourcesAddListBox" jqx-on-select="selectItemResourcesAddListBox(event)" ></jqx-list-box>
	           	{{log1}}
           </div>
        	<div class="col-xs-12 margin-top-5px" >
        	<div class="text-right">
				Release deadline: 
				<jqx-input id="deadlineInput" class ="my-input-success myHeight" type="text" value = "{{release.deadline}}" jqx-disabled="true"/></jqx-input>
        		<jqx-toggle-button id="3monthsToggleBtn" class="my-button myHeight" ng-click="toogleMonthsToggleBtns($event)" >1 months</jqx-toggle-button>
        		<jqx-toggle-button id="6monthsToggleBtn" class="my-button myHeight" ng-click="toogleMonthsToggleBtns($event)">3 months</jqx-toggle-button>
       		</div>
        	</div>
        	<div class="col-xs-12 margin-top-5px">
        		  <div class="text-right">
        		    <jqx-button type="reset" class="my-button" ng-click="cancel()">Cancel</jqx-button>
					<jqx-button template="submit" class="my-button myHeight" ng-click="addUpdate()"ng-show="!update"><i class="fa fa-plus fa-lg"></i>{{typeLabel}}</jqx-button>
					<jqx-button template="submit" class="my-button myHeight" ng-click="addUpdate()" ng-show="update"><i class="fa fa-pencil fa-lg"></i>{{typeLabel}}</jqx-button>
        		  </div>
        	</div>
    </div>
</div>
