<link href="release-planner-app/css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href="release-planner-app/js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="release-planner-app/js/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>

<link href="release-planner-app/css/release-planner-app.css" rel="stylesheet">

<script src="release-planner-app/js/release_details2.js"></script>

<div class="well" ng-controller="release-details2">

	<div class="container-fluid">
	    <div class="row">
	      <div class="col-xs-12" ng-show="!showReleasePlan">
	            <h4>{{messageReleasePlan}}</h4>
	        </div>
	    </div>
        <div class="row">
       	 <h4 ng-show="showReleasePlan">{{release.name + '-' + release.id +'(Id)'}}</h4>
	    </div>
	    <div class="row">
             <div class="col-xs-12" >
				<h4>Over time use of resources</h4>
				<div id="timeline_chart"></div> 
             </div>
             <div class="col-xs-12" >
             	<h4>Feature dependencies</h4>	
				<div id="gantt_chart" style="margin-bottom: 60px;"></div>
             </div>
			<div class="col-xs-12">
				<h4>Table view</h4>	
				<jqx-grid id="featuresJqxgrid" jqx-create="blncreateFeaturesJqxgrid" jqx-settings="featuresJqxgridSettings"></jqx-grid>
			</div>     
	     	<div class="col-xs-12 margin-bottom-5px">
			     <div class="text-right" ng-show="showReleasePlan">
			     	<jqx-button id="acceptJqxButton" type="submit" class="my-button margin-left-5px" ng-click="accept()">Accept</jqx-button>
			     	<jqx-button id="forceTOReplanJqxButton" type="submit" class="my-button margin-left-5px" ng-click="forceTOReplan(true)">Force replan</jqx-button>
			     	<jqx-button id="previousPlanButton" type="submit" class="my-button margin-left-5px" ng-click="forceTOReplan(false)">Previous plan</jqx-button>
			    </div>  
			</div>
        </div>
	</div>
</div>
