<link href="release-planner-app/css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href="release-planner-app/js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="release-planner-app/js/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>

<link href="release-planner-app/css/release-planner-app.css" rel="stylesheet">

<script src="release-planner-app/js/vis-4.20.1/vis.js"></script>
<link href="release-planner-app/js/vis-4.20.1/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />

<script src="release-planner-app/js/release_details.js"></script>

<div class="well" ng-controller="release-details">

	<div class="container-fluid">
	    <div class="row">
	      <div class="col-xs-12" ng-show="!showReleasePlan">
	            <h4>{{messageReleasePlan}}</h4>
	        </div>
	    </div>
        <div class="row">
       	 <h4 ng-show="showReleasePlan">{{release.name + '-' + release.id +'(Id)'}}</h4>
	    </div>
	    <div class="row">
             <div class="col-xs-12" >
				<h4>Over time use of resources</h4>
				<div id="timeline_chart" ng-show="showTimeline_chart"></div> 
				<h5 ng-show="!showTimeline_chart">No resources are available</h5> 
             </div>
<!--              <div class="col-xs-12" > -->
<!--              	<h4>Feature dependencies</h4>	 -->
<!-- 				<div id="gantt_chart" style="margin-bottom: 60px;"></div> -->
<!--              </div> -->
			 <div class="col-xs-12" >
				<h4>Resources usage</h4>
				<table>
					<tr>
						<th>Name</th>
					    <th>Used %</th>
					    <th>Used hours</th>
					    <th>Skills</th>
					</tr>
					<tr ng-repeat="resource in plan.resource_usage">
						<td class="padding-bottom-5px">{{resource.resource_name}}</td>
						<td class="padding-bottom-5px">
			  				<jqx-progress-bar  ng-model="resource.total_used_percent" jqx-height="30" jqx-show-text="true" jqx-animation-duration="0" jqx-width="300"></jqx-progress-bar>
			  			</td>
			  			<td class="padding-bottom-5px">{{resource.total_used_hours  + " out of " + resource.total_available_hours }}</td>
			  			<td class="padding-bottom-5px" >{{resource.skillsAsString}}</td>
					</tr>	
				</table>
			 </div>
			 <div class="col-xs-12" >
				<h4>Feature dependencies</h4>	
				<div id="mynetwork" ng-show="showMynetwork"></div> 
				<h5 ng-show="!showMynetwork">No dependencies are available</h5> 
             </div>
			 <div class="col-xs-12">
				<h4>Table view</h4>	
				<jqx-grid id="featuresJqxgrid" jqx-create="blncreateFeaturesJqxgrid" jqx-settings="featuresJqxgridSettings"></jqx-grid>
			 </div>     
	     	 <div class="col-xs-12 margin-bottom-5px margin-top-5px">
			     <div class="text-right" ng-show="showReleasePlan">
			     	<jqx-button id="acceptJqxButton" type="submit" class="my-button margin-left-5px" ng-click="accept()">Accept</jqx-button>
			     	<jqx-button id="forceTOReplanJqxButton" type="submit" class="my-button margin-left-5px" ng-click="forceTOReplan(true)">Force replan</jqx-button>
			     	<jqx-button id="previousPlanButton" type="submit" class="my-button margin-left-5px" ng-click="forceTOReplan(false)">Previous plan</jqx-button>
			    </div>  
			</div>
        </div>
	</div>
</div>
