<link href="release-planner-app/css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">

<link href="release-planner-app/js/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="release-planner-app/js/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>

<link href="release-planner-app/css/release-planner-app.css" rel="stylesheet">

<script src="release-planner-app/js/replan_release.js"></script>

<div class="well" ng-controller="replan-release">
	  <div class="container-fluid">
		 <div class="row" ng-show="!showFeature">
	        <div class="col-xs-12">
	            <h4>{{messageFeature}}</h4>
	        </div>
	    </div>
        <div class="row" ng-show="showFeature">
<!--         	<h4>{{feature.name + '-' + feature.id +'(Id)'}}</h4> -->
	 		<div class="col-xs-12">
				<form id="featureForm" name="featureForm" class="form-horizontal" ng-submit="replanRelease()" novalidate>
	
	
					<div class="form-group margin-bottom-5px">
				      <label class="control-label col-sm-2 my-label" for="id">Id:</label>
				      <div class="col-sm-10">
				        <jqx-input id="idInput" name="id" class="form-control myHeightSmall" ng-model="feature.id" ng-disabled="true"></jqx-input>
				      </div>
				    </div>
				    
					<div class="form-group margin-bottom-5px required" ng-class="{ 'has-error' : featureForm.name.$error.required}">
				      <label class="control-label col-sm-2 my-label" for="name">Name:</label>
				      <div class="col-sm-10">
				        <jqx-input id="nameInput" name="name" class="form-control myHeightSmall" ng-model="feature.name" required ng-disabled="true"></jqx-input>
				        <span ng-show="featureForm.name.$error.required" class="help-block">Name is required.</span>
				      </div>
				    </div>
					
					<div class="form-group margin-bottom-5px">
				      <label class="control-label col-sm-2 my-label" for="description">Description:</label>
				      <div class="col-sm-10">
				        <jqx-input id="descriptionInput" name="description" class="form-control myHeightSmall" ng-model="feature.description" ng-disabled="true"></jqx-input>
				      </div>
				    </div>
				    
				    <div class="form-group margin-bottom-5px required" ng-class="{ 'has-error' : featureForm.effort.$error.required}">
				      <label class="control-label col-sm-2 my-label" for="effort">Effort:</label>
				      <div class="col-sm-10">
				        <jqx-input id="effortInput" name="effort" class="form-control myHeightSmall" ng-model="feature.effort" required></jqx-input>
				        <span ng-show="featureForm.effort.$error.required" class="help-block">Effort is required.</span>
				      </div>
				    </div>
				    
				    <div class="form-group margin-bottom-5px required" ng-class="{ 'has-error' : featureForm.deadline.$error.required}">
				      <label class="control-label col-sm-2 my-label" for="deadline">DeadLine:</label>
				      <div class="col-sm-10">
<!-- 				        <jqx-input id="deadlineInput" name="deadline" class="form-control myHeightSmall" ng-model="feature.deadline" required></jqx-input> -->
				        <div id='dateInputDeadline'>
						</div>
				        <span ng-show="featureForm.deadline.$error.required" class="help-block">Deadline is required.</span>
				      </div>
				    </div>
				    <div class="form-group margin-bottom-5px" ng-class="{ 'has-error' : featureForm.dependency.$error.required}">
				      <label class="control-label col-sm-2 my-label" for="deadline">Dependencies:</label>
				      <div class="col-sm-10">
							<jqx-drop-down-list  id="dependency" name="dependency" class="form-control" jqx-settings="dropDownListSettingsDependency" required></jqx-drop-down-list>
							<span ng-show="featureForm.dependency.$error.required" class="help-block">Dependencies are required.</span>
				      </div>
				    </div>
				    
				     <div class="form-group margin-bottom-5px required" ng-class="skillRequired">
				      <label class="control-label col-sm-2 my-label" for="skill">Skills:</label>
				      <div class="col-sm-10">
							<jqx-drop-down-list  id="skill" name="skill" class="form-control" jqx-settings="dropDownListSettingsSkill" required></jqx-drop-down-list>
							<span ng-show="skillRequiredBln" class="help-block">Skills are required.</span>
				      </div>
				    </div>
				    			  	  	
			  	  	<div class="form-group margin-bottom-5px required" ng-class="{ 'has-error' : featureForm.priority.$error.required}">
				      <label class="control-label col-sm-2 my-label" for="priority">Priority(1-5):</label>
				      <div class="col-sm-10">
<!-- 				         <jqx-number-input id="priorityInput" name="priority" class="form-control myHeightSmall" ng-model="feature.priority" jqx-input-mode="simple" jqx-text-align="left" jqx-min="1" jqx-max="5" groupSize=0 required/></jqx-number-input> -->
				        <input id="priorityInput" name="priority"  type="number" min="1" max="5" ng-model="feature.priority" class="myHeight" style ="width: 97%; border: 1px solid #ccc; border-radius: 4px;" required/>
				        <span ng-show="featureForm.priority.$error.required" class="help-block">Priority is required.</span>
				      </div>
				    </div>
				  
				    <div class="form-group margin-bottom-5px" >
				      <div class="col-sm-offset-2 col-sm-10">
				        <jqx-button type="submit" class="margin-bottom-5px my-button myHeight" ng-disabled="featureForm.$invalid">Re-Plan Next Release</jqx-button>
				      </div>
				    </div>
			  	
			  	</form>
	        </div>
        </div>
      </div>
</div>


