<!-- <script src="release-planner-app/js/release.js"></script> -->
<link href="release-planner-app/css/release-planner-app.css" rel="stylesheet">
<!-- <div class="well" ng-controller="release-utilities" data-ng-init="init()"> -->
<div class="well" ng-controller="release-utilities"> 
	<div class="container-fluid">
        <div class="row">
           
           <h5>Topics:</h5>
           
<!--            colonna1 -->
           <div class="col-xs-4">
	       	   	<jqx-list-box id ="topicsListBox" jqx-settings="settingsTopicsListBox"  jqx-on-select="selectItemTopicsListBox(event)"></jqx-list-box>
	       	   	{{log}}
		   </div>
		   
<!-- 		   colonna 2 -->
		   <div class="col-xs-offset-8">
		   </div>
          
<!-- 		   		colonna 3 -->
	   		<div class="col-xs-12">	
	           	<form ng-show="!isUpdate" id="topicForm" name="topicForm" class="form-horizontal margin-top-5px" ng-submit="pippo()" novalidate>
				    
				    <div class="form-group margin-bottom-5px required" ng-class="{ 'has-error' : topicForm.topicName.$error.required && !topicForm.topicName.$pristine}">
				      <label class="control-label col-sm-4 my-label" for="topicName">Topics name:</label>
				      <div class="col-sm-8">
				        <jqx-input id="topicNameInput" name="topicName" class="form-control myHeight" ng-model="release.name" required></jqx-input>
				        <span ng-show="topicForm.topicName.$error.required && !topicForm.topicName.$pristine" class="help-block">Topics name is required.</span>
				      </div>
				    </div>
		
				     <!-- button -->
	                <div class="form-group">
	                
	                    <div class="col-sm-offset-2 col-sm-10">
	                   		<div class="text-right">
<!-- 		                   		<jqx-button type="reset" class="my-button" ng-click="cancel()">Cancel</jqx-button> -->
		                        <jqx-button template="submit" class="my-button myHeight" ng-click="add()" ng-show="!isUpdate" ng-disabled="topicForm.$invalid || showResourcesAreRequired"><i class="fa fa-plus fa-lg"></i>Add</jqx-button>
	                    	</div>
	                    </div>
	                    
	                </div>
			    </form>
	       	</div>
	       	
	       	
<!-- 	     fine row   	 -->
	        </div>	
<!-- 	     	 fine container-fluid    	 -->
      </div>
      
</div>
