swagger: '2.0'
info:
  title: SUPERSEDE ReleasePlanner API to WP3
  description: This API defines the operation that the Replan Controller component exposes to the WP3 components.
  version: "1.1.0"
# the domain of the service
host: replan-project-carlesf.c9users.io
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /api/wp3/v1
produces:
  - application/json
paths:
  /projects/{projectId}/features:
    post:
      summary: Add new features to project
      description: |
        This operation allows sending new features to the Replan Controller component.
      operationId: sendFeatures
      parameters:
        - name: projectId
          in: path
          type: number
          format: int64
          description: ID of the project
          required: true
        - name: body
          in: body
          description: An array of Features
          required: true
          schema:
            $ref: '#/definitions/FeatureData'
      responses:
        200:
          description: Success
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Project not found
definitions:
  SoftDependency:
    type: object
    required:
      - id
      - type
    properties:
      id:
        type: integer
        description: Id of the feature with which there is a dependency
      type:
        type: string
        enum: [functional, cost, value]
      value:
        type: number
  Property:
    type: object
    required:
      - key
      - value
      - format
    properties:
      key:
        type: string
        description: name of the property, deadline, description, etc.
      value:
        type: string
        description: value of the property as string
      format:
        type: string
        enum: [string, integer, number, date-time]
        description: intended type of the value
  Constraint:
    type: object
    required:
      - variable
      - operator
      - value
    properties:
      variable:
        type: string
      operator:
        type: string
        description: <, >, and the like
      value:
        type: number
  Feature:
    type: object
    required:
      - id
      - priority
    properties:
      id:
        type: integer
        description: Unique WP3 identifier representing a feature
      name:
        type: string
        description: Display name of feature.
      effort:
        type: number
        description: Effort to implement the feature.
      priority:
        type: integer
        enum: [ 1, 2, 3, 4, 5 ]
        description: It comes from Wp3.3
      properties:
        type: array
        description: array of properties
        items:
          $ref: '#/definitions/Property'
      hard_dependencies:
        type: array
        description: array of Feature ids
        items:
          type: integer
          description: Feature id
      soft_dependencies:
        type: array
        description: array of Soft-dependencies
        items:
          $ref: '#/definitions/SoftDependency'
      arguments:
        type: string
        description: Some explanatory/justification info
  FeatureData:
    type: object
    required:
      - evaluation_time
      - features
    properties:
      evaluation_time:
        type: string
        format: date-time
      features: 
        type: array
        description: array of features
        items:
          $ref: '#/definitions/Feature'
      constraints: 
        type: array
        description: array of constraints
        items:
          $ref: '#/definitions/Constraint'
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string