#hoursBinInput input, #hoursWeekInput input{
	width: 100% !important;
	background-color: #5cb85c;
	color: #ffffff;
}
.padding-bottom-5px{
	padding-bottom: 5px;
}
.margin-bottom-5px{
	margin-bottom: 5px;
}
.margin-left-5px{
	margin-left: 5px;
}
.margin-top-5px{
	margin-top: 5px;
}
.margin-top-15px{
	margin-top: 15px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.margin-right-minus15px{
	margin-right: -15px;
}
.margin-right-minus30px{
	margin-right: -30px;
}
.border{
	border: 2px solid #e3e3e3;
    border-radius: 5px;
    padding: 10px;
}
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
.my-input-width
{
   width: 100% !important;
}
.my-label {
	font-weight: normal !important;
}
.my-button {
    width: 175px !important;
}
.my-button2 {
    width: 100px !important;
}
.my-button3 {
    width: 150px !important;
}
.my-input-success{
	color: #ffffff !important;
/*     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important; */
/*     background-color: #5cb85c !important; */
/*     border-left-color: #4cae4c !important; */
/*     border-right-color: #4cae4c !important; */
/*     border-top-color: #4cae4c !important; */
/*     border-bottom-color: #4cae4c !important; */
 background-color: #5cb85c;
}

.my-error-border-color{
	border-color: #a94442;
	color: #a94442;
}
.widht100perc{
	width: 100%;
}
.myHeight{
	height: 25px !important;
}
.myHeight2{
	height: 38px !important;
}
.myHeightSmall{
	height: 14px !important;
	width: 93% !important;
}
.draggable-demo-cart
{
    border: 2px dashed #aaa;
    width: "100%";
    height: 100px;
}

/*release_details.html*/
.graph .graph-labels.x-graph-labels {
  text-anchor: middle;
  
}

.graph .graph-labels.y-graph-labels {
  text-anchor: end;
/*   font-size: 1.0vw;  */
}
.graph {
/*   height: 600px; */
/*   width: 860px; */
   height: 100%;
   width: 100%;
  min-height: 522px;
/*   min-width: 100px; */
  border: 1px dotted #555;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.grid-dead-line {
  stroke: red;
  stroke-dasharray: 0;
  stroke-width: 1;
}
.graph-labels {
  font-size: 13px;
}

.graph-data {
  fill: #337ab7;
  stroke-width: 1; 
  /*   cursor: move; */
  font-size: 0.8vw;
}
.legend {
  margin-left: 15px;
}
.scheduledFeature{
	background-color: #5cb85c;	
}
.my-buttonJqxgrid{
	text-align: center;
	width: 100% !important;
	height: 100% !important;
	margin-top: 2px;
    margin-bottom: 2px;
    border-color: #aaa;
    background: #efefef;
   
}
.my-buttonJqxgrid-disabled{
	opacity: .55;
}



.tooltip_table{
	width: 200px; 	
}
.tooltip_table, th, td {
    /*border: 1px solid black;*/
	padding: 5px;
	text-align: left;	
}
.tooltip_table, th { border-bottom: 1px solid #c0c0c0; }
